# Exploratory Data Analysis
Using EDA I will analyse the data to identify trends and correlations between variables and the final grade.

> Import Student data.

In [28]:
import pandas as pd

# Import student data
df = pd.read_csv('data/student/x.csv', sep=',')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

> Checking skewness of the final grade distribution

In [ ]:
# plot histogram of final grade (G3)
plt.hist(df['G3'])
plt.xlabel('G3')
plt.ylabel('Frequency')
plt.title('Final Grade distribution')

data looks about normally distributed, with a modal score at around 11-12

> Feature Selection
* Correlation coefficient to determine most useuful variables

In [26]:
# obtain variables with correlation to final grade and sort
df.corr()['G3'].sort_values()

failures     -0.360415
age          -0.161579
goout        -0.132791
traveltime   -0.117142
health       -0.061335
Dalc         -0.054660
Walc         -0.051939
freetime      0.011307
absences      0.034247
famrel        0.051363
studytime     0.097820
Fedu          0.152457
Medu          0.217147
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

anomalie: absences show positive correlation, where this should be expected as a negative correlation

> hot encodeing categorical variables

In [35]:
# select categorical values only
categorical_df = df.select_dtypes('object')

# ensure there are no null values
categorical_df.isnull()

categorical_df.head()

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,GP,F,U,GT3,A,at_home,teacher,course,mother,yes,no,no,no,yes,yes,no,no
1,GP,F,U,GT3,T,at_home,other,course,father,no,yes,no,no,no,yes,yes,no
2,GP,F,U,LE3,T,at_home,other,other,mother,yes,no,yes,no,yes,yes,yes,no
3,GP,F,U,GT3,T,health,services,home,mother,no,yes,yes,yes,yes,yes,yes,yes
4,GP,F,U,GT3,T,other,other,home,father,no,yes,yes,no,yes,yes,no,no

In [41]:
# One-hot encode
ohe_df = pd.get_dummies(categorical_df)


ohe_df['G3'] = df['G3']

# get correlations
ohe_df.corr()['G3'].sort_values()

higher_no           -0.182465
romantic_yes        -0.129970
Mjob_at_home        -0.115634
address_R           -0.105756
sex_F               -0.103456
paid_no             -0.101996
reason_course       -0.098950
internet_no         -0.098483
Mjob_other          -0.096477
guardian_other      -0.087774
schoolsup_yes       -0.082788
famsize_GT3         -0.081407
Pstatus_T           -0.058009
Fjob_other          -0.053483
nursery_no          -0.051568
school_MS           -0.045017
famsup_yes          -0.039157
reason_home         -0.021359
Fjob_services       -0.016108
activities_no       -0.016100
Fjob_at_home        -0.013385
activities_yes       0.016100
guardian_mother      0.022338
guardian_father      0.032493
famsup_no            0.039157
school_GP            0.045017
nursery_yes          0.051568
reason_other         0.052008
Fjob_health          0.057111
Mjob_teacher         0.057712
Pstatus_A            0.058009
Mjob_services        0.078429
famsize_LE3          0.081407
schoolsup_no         0.082788
Fjob_teacher         0.095374
reason_reputation    0.095692
internet_yes         0.098483
paid_yes             0.101996
sex_M                0.103456
address_U            0.105756
Mjob_health          0.116158
romantic_no          0.129970
higher_yes           0.182465
G3                   1.000000
Name: G3, dtype: float64