# Exploratory Data Analysis
Using EDA I will analyse the data to identify trends and correlations between variables and the final grade.

> Import Student data.

In [28]:
import pandas as pd

# Import student data
df = pd.read_csv('data/student/x.csv', sep=',')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

> Checking skewness of the final grade distribution

In [ ]:
# plot histogram of final grade (G3)
plt.hist(df['G3'])
plt.xlabel('G3')
plt.ylabel('Frequency')
plt.title('Final Grade distribution')

data looks about normally distributed, with a modal score at around 11-12

> Feature Selection
* Correlation coefficient to determine most useuful variables

In [26]:
# obtain variables with correlation to final grade and sort
df.corr()['G3'].sort_values()

failures     -0.360415
age          -0.161579
goout        -0.132791
traveltime   -0.117142
health       -0.061335
Dalc         -0.054660
Walc         -0.051939
freetime      0.011307
absences      0.034247
famrel        0.051363
studytime     0.097820
Fedu          0.152457
Medu          0.217147
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

anomalie: absences show positive correlation, where this should be expected as a negative correlation

> hot encodeing categorical variables